.footer {
    background-color: rgb(37, 37, 37);
    padding: 1rem 0;
    font-size: 1.4rem;
    color: grey;

    &__logo-box {
        text-align: center;
        // margin-top: 2rem;
    }

    &__logo {
        width: 25rem;
        height: auto;
        filter: invert(51%) sepia(91%) saturate(2322%) hue-rotate(356deg) brightness(103%) contrast(103%);
    }

    &__navigation {
        border-top: 1px solid grey;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: grey;
            background-color: rgb(37, 37, 37);
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $primary;
            background-color: rgb(37, 37, 37);
            box-shadow: 0 1rem 2rem rgba(black, .4);
            transform: scale(1.1);
        }
    }
}