.header{
    background-image: linear-gradient(to right, rgba($primary, 0.5), rgba($secondary, 0.4)), url(../Assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    /* clip-path: polygon(0 50%, 100% 0, 100% 100%); */
    /* transform: scaleX(-1); */
    clip-path: ellipse(90% 100% at top);
    height: 95vh;
    width: 100%;
    position: relative;

    &__logo-box{
        position: absolute;
        top: 0rem;
        left: -4rem;
    }

    &__logo{
        height: 12rem;
        // filter: invert(51%) sepia(91%) saturate(2322%) hue-rotate(356deg) brightness(103%) contrast(103%);
    }

    &__text-box{
        text-align: center;
        position:absolute;
        top: 40%;
        left: 45%;
        transform: translate(-40%, -40%);
    }
}
 
