.feature-box-container{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    padding-top: 7rem;
    gap: 3rem;
    @include absCenter;
    justify-content: center;
    @include respond(tab-small) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        padding: 10rem 0;
    }
}
.feature-box{
    text-align: center;
    padding: 2rem;
    height: auto;
    width: 21rem;
    background-color: rgb($grey1,0.8);
    transition: all .2s;
    @include respond(tab-small) {
        width: 40rem;
        padding: 1rem;
    }
    &__icon{
        padding: 2rem;
        font-size: 5rem;
        @include respond(tab-small) {
            padding: 1rem;
        }
    }
    &:hover{
        transform: translateY(-2rem);
    }
}
