@font-face {
    font-family: 'Helvetica Neue';
    src: url('../Assets/helvetica-neu.ttf');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

html {
    //This defines what 1rem is 
    font-size: 62.5%;
    background-color: $grey1;
}
  
body {
    box-sizing: border-box;
    font-size: 1.6rem;
}