body {
    font: bolder 1rem 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.title{
    margin-bottom: 3rem;
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
    
    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 3rem;
        animation: moveFromLeft 1s ease-out;
        @include respond(phone) {
            letter-spacing: 2rem;
        }
    }

    &--sub{
        display: block;
        font-size: 3rem;
        letter-spacing: 1rem;
        animation: moveFromRight 1s ease-out;
        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
}

.heading-secondary{
    font-size: 4rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right, $primary, $secondary);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    cursor:default;
    transition: all .3s;

    &:hover{
        transform: skew(1deg);
        text-shadow: .5rem .7rem .5rem rgba(0, 0, 0, 0.192);
    }
}

.col-1{
    font-size: 1.7rem;
}

.heading{
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    
}

.paragraph{
    color: gray;
    font-weight:bolder;
    &:not(:last-child){
        margin-bottom: 2rem;
    }
}