.section-about{
    padding-top: 15rem;

}

.section-features{
    background-image: linear-gradient(to right, rgba($primary, 0.5), rgba($secondary, 0.4)), url(../Assets/images/up2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: ellipse(80% 100% at bottom);
    height: 95vh;
    width: 100%;
    position: relative;
    @include respond(big-desktop) {
        height: 80vh;
    }
    @include respond(tab-port) {
        clip-path: ellipse(150% 100% at bottom);
        height: 70vh;
    }
}

.section-tours{
    padding-top: 13rem;
    position: relative;
}

.section-stories{
    position: relative;
    padding-top: 10rem;
}

.section-book {
    padding: 15rem 0;
    margin-top:10rem;
    background-image: linear-gradient(to right, rgb(255, 72, 0,.5), rgb(255, 208, 0,.5));
}

