.section-about{
    padding-top: 15rem;

}

.section-features{
    background-image: linear-gradient(to right, rgba($primary, 0.5), rgba($secondary, 0.4)), url(../Assets/images/up2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: ellipse(80% 90% at bottom);
    height: 95vh;
    width: 100%;
    position: relative;
}

.section-tours{
    padding-top: 13rem;
}

.section-stories{
    position: relative;
    padding-top: 10rem;
}

.section-book {
    padding: 15rem 0;
    margin-top:10rem;
    background-image: linear-gradient(to right, rgb(255, 72, 0,.5), rgb(255, 208, 0,.5));
}

.book {
    background-image: linear-gradient(105deg, 
                                    rgba(white, .7) 0%,
                                    rgba(white, .7) 50%,
                                    transparent 50%) ,
                            url(../Assets/images/up1.jpg);
    margin: 10rem; 
    background-size: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(black, .2);
    padding-bottom: 4rem;
    &__form {
        width: 55%;
        padding: 8rem;
    }
}
